/Sample.TextLibrary.Business/bin/Debug/net5.0
/Sample.TextLibrary.Business/obj/Debug/net5.0
/Sample.TextLibrary/bin
/Sample.TextLibrary/obj
/Sample.TextLibrary.Business/obj
/Sample.TextLibrary.Business/bin
/Sample.TextLibrary.Test/obj
/Sample.TextLibrary.Test/bin
/Shared.TextLibrary/obj
